.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  // height: 100vh;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1rem;
  margin-top: 11vh !important;
  padding: 1rem;
}

.calendar-container__heading {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.5rem;
  background-color: white;
  position: relative;
  z-index: 1;

  -webkit-box-shadow: -2px 1px 0px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: -2px 0px 0px 0px rgba(0, 0, 0, 0.23);
  box-shadow: -2px 2px 0px 0px rgba(0, 0, 0, 0.23);

  li {
    border-right: 2px solid rgba(0, 0, 0, 0.5);
    width: calc(100% / 7);
    max-width: calc(100% / 7);
    text-align: center;
  }

  li:nth-last-of-type(1) {
    border-right: none;
  }
}

.calendar-container__heading::after {
  content: "";
  position: absolute;
  border: 1px solid black;
  width: 95%;

  margin-right: auto;
  margin-left: auto;
  bottom: 0;
  opacity: 0.5;
  border-radius: 100%;
}

.calendar-container__util {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px 10px 0px 0px;
  padding: 0.5rem;
  padding-top: 1rem;
  background-color: white;

  -webkit-box-shadow: -2px 2px 0px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: -2px 2px 0px 0px rgba(0, 0, 0, 0.23);
  box-shadow: -2px 2px 0px 0px rgba(0, 0, 0, 0.23);

  .MuiButton-root {
    width: 100px;
    height: 20px;

    color: $button-color;
  }

  select {
    border: none;
    background-color: transparent;
    width: 20%;
    text-align: center;
    font-size: 24px;
  }
}

.calendar-container__days {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 0.5rem;
  position: relative;
  z-index: 1;

  -webkit-box-shadow: -2px 2px 0px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: -2px 2px 0px 0px rgba(0, 0, 0, 0.23);
  box-shadow: -2px 2px 0px 0px rgba(0, 0, 0, 0.23);

  .calendar-container__days__day,
  .hidden-day {
    width: calc(100% / 7 - 1rem);
    max-width: calc(100% / 7);
    height: 160px;
    text-align: center;
    margin: 0.5rem;
  }

  .calendar-container__days__day {
    display: flex;
    flex-direction: column;
    background-color: $form-background;
    border-radius: 5px;

    position: relative;
    -webkit-box-shadow: -2px 2px 0px 0px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: -2px 2px 0px 0px rgba(0, 0, 0, 0.23);
    box-shadow: -2px 2px 0px 0px rgba(0, 0, 0, 0.23);

    a p {
      text-decoration: none;
      font-size: 20px;
      font-weight: 800;
      color: $nav-text;
      position: absolute;
      top: 1rem;
      left: 1rem;
      opacity: 0.65;
      line-height: 0.5 !important;
    }

    a {
      width: 100%;
      height: 100%;
      text-decoration: none;
      display: flex;
    }
  }
  // .hidden-day {
  //   border: 2px solid brown;
  // }
}

.color-one {
  background-image: radial-gradient(
    circle 780.6px at 10% 20%,
    rgba(133, 255, 189, 1) 0%,
    rgba(255, 251, 125, 1) 90.7%
  );
  color: rgb(82, 83, 110);
}

.color-two {
  background-image: linear-gradient(
    68.4deg,
    rgba(99, 251, 215, 1) -0.4%,
    rgba(5, 222, 250, 1) 100.2%
  );

  color: rgb(82, 83, 110);
}

.event {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  max-width: 85%;
  min-width: 85%;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  font-size: 15px;
  font-weight: 500;
  text-align: left;

  -webkit-box-shadow: -1px 1px 0px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -1px 1px 0px 0px rgba(0, 0, 0, 0.25);
  box-shadow: -1px 1px 0px 0px rgba(0, 0, 0, 0.25);
  // top: 50%;
  // left: 20%;
  // transform: translate(-20%, -50%);
}

.events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 80%;
  width: 100%;
  margin-top: auto;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 85%;
  }
}

.view-all {
  margin-top: 5px;
  margin-left: auto;
  margin-right: 13px;

  font-size: 18px;
}

.active-day {
  -webkit-box-shadow: -1px 1px 39px 0px rgba(135, 233, 250, 1);
  -moz-box-shadow: -1px 1px 39px 0px rgba(135, 233, 250, 1);
  box-shadow: -1px 1px 10px 0px rgba(135, 233, 250, 0.63) !important;
}

.corner {
  position: absolute;
  top: 0;
  right: 0;
  width: 1em;
  height: 1em;
  background-color: #e6e7e8;
}

.fold {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 1em 1em 0;
  border-color: transparent #f1f2f2 transparent transparent;
}

//Responsive

//container
// @media (max-width: 1220px) {
//   .calendar-container {
//     width: 95%;
//   }
// }

//days
@media (max-width: 1000px) {
  .event,
  .view-all {
    visibility: hidden;
  }

  .calendar-container {
    position: relative;
  }

  .calendar-container__days__day,
  .hidden-day {
    height: 90px !important;
  }

  .events:after {
    content: "";
    visibility: visible;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
    border-radius: 50%;

    background-image: radial-gradient(
      circle 780.6px at 10% 20%,
      rgba(133, 255, 189, 1) 0%,
      rgba(255, 251, 125, 1) 90.7%
    );
    color: rgb(82, 83, 110);
  }
}

//util
@media (max-width: 774px) {
  .calendar-container__util {
    select {
      width: 25%;
    }
  }
}

@media (max-width: 643px) {
  .calendar-container__util {
    select {
      width: 35%;
    }
  }
}

@media (max-width: 454px) {
  .calendar-container__util {
    select {
      width: 40%;
    }
  }
}
