.link-container {
  background-color: $button;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 100px 100px 100px 100px;
  padding: 0.2rem;
  overflow: hidden;
  border: 2px solid black;

  -webkit-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.23);
  box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.23);

  a {
    color: $button-color;
    font-weight: 400;
    font-size: 18px;
  }
}

.link-container:hover {
  background-color: $button-hover;
}
