$primary-color: #4cd6cd;
$nav-text: white;
$hero-text: white;
$background: #f5f5f4;

$footer-background: gray;
$footer-background2: black;
$footer-text: white;

$button: rgba(8, 24, 168, 0.8);
$button-color: white;
$button-hover: rgba(0, 0, 0, 0.8);
