$primary-color: #b7d2a8;
$secondary-color: rgba(17, 255, 9, 1);

$nav-text: black;
$nav-top: #181818;
$nav-active: cyan;

$hero-text: white;
$background: #faf5f5;

$footer-background: gray;
$footer-background2: black;
$footer-text: white;

$button: rgba(17, 17, 17, 0.8);
$button-color: white;
$button-hover: rgba(14, 34, 44, 0.8);
$button-hover-border: cyan;

$form-background: #fdfdfd;
$form-input: orange;
$form-input-outline: rgb(94, 211, 211);
