$primary-color: #f1f7ed;
$secondary-color: #41b0e7;

$nav-text: black;
$nav-top: #181818;
$nav-active: #51e1ce;

$hero-text: white;
$background: #faf5f5;

$footer-background: #4c5454;
$footer-background2: black;
$footer-color: black;
$footer-bottom-color: white;

$button: rgba(17, 17, 17, 0.8);
$button-color: white;
$button-hover: rgba(14, 34, 44, 0.8);
$button-hover-border: cyan;

$form-background: #fdfdfd;
$form-input: orange;
$form-input-outline: rgb(94, 211, 211);
